@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

body{ background-color: blueviolet;
    justify-content: center;
    text-align: center;

}

#menu{ font-family: "Tiny5", sans-serif;
    font-size: 11pt;
   background-color:black;
   text-decoration: white;
   color: white;


}
.form{
    background-color:	#4B0082;
    border: solid;
}

main{

    display:flex;
    flex-direction: column;
    padding: 10px;
    height: 400px;
    gap: 3px;
    background-color:	#4B0082;
    border:solid;
    border-color: black;
   
}

h3{
 
 font-size: 25pt;
 text-decoration:white;
 color: white;
 font-family: "Tiny5", sans-serif;

}

select{
   
    font-size: 11pt;
    background-color:black;
    text-decoration: white;
    color: white;

}
#inputNumero{
  
    font-size: 11pt;
    background-color:black;
    text-decoration: white;
    color: white;

}

#outputNumero{
   
    font-size: 11pt;
    background-color:black;
    text-decoration: white;
    color: white;

}


h1{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 39pt;

    margin-right: 215px;
    color: white;
}